header {
}

nav.a {
  background-color: yellow;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  flex-direction: row;
}

.logo_principal {
  grid-column: span 2;
  width: 200px;
  border-radius: 20px;
}

ul.a {
  background-color: blue;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  grid-column: span 4;
  grid-column-start: 3;
  width: 100vh;
  align-items: center;
}

.header{
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.introduccion{
background-color: red;
grid-column: span 4;
grid-column-start: 2;
width: 100vh;
}

.imagen-principal{
grid-column: span 4;
grid-column-start: 8;
width: 100vh;
}