nav.a {
  background-color: yellow;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.logo_principal {
  grid-column: span 1;
  background-color: aqua;
  padding: 10px;
  position: relative;
  left: 50%;
}

ul.a {
  background-color: blue;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  grid-column: span 4;
  grid-column-start: 3;
  width: 100vh;
  align-items: center;
}

header {
  background-color: greenyellow;
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.introduccion {
  background-color: red;
  font-size: 3em;
  grid-column: span 2;
  grid-column-start: 2;
}

.imagen-principal {
  grid-column: span 3;
  grid-column-start: 4;
}
