/* Estilos CSS para mejorar la presentación */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4fefd;
  line-height: 1.5; /* Establece un interlineado de 1.5 en todo el documento */
}

/* Inicia el CSS del Header */
header {
  background-color: #1b2223;
  color: #fff;
  text-align: center;
  padding: 1.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
}

header h1 {
  font-size: 300%;
  line-height: 1; /* Establecer line-height a 1 para el h1 */
  margin: 0; /* Eliminar margen superior e inferior del h1 */
  color: #0ef6cc;
}

header a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding: 5px 10px;
}

nav :hover {
  color: #0ef6cc;
}
/* Termina el CSS del Header */

/* Inicia el CSS del Main */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px;
}

section {
  margin-bottom: 40px;
  padding: 20px;
  border: 2px solid #1b2223;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: #f9f9f9;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0 0 calc(45% - 1px); /* Ancho del 48% para dos secciones por fila */
  transition: transform 0.5s ease; /* Agregamos una animación de transición */
}

section:hover {
  transform: scale(1.04);
}

.content {
  flex: 1;
}

h2 {
  font-size: 20px;
  margin-top: 0;
}

p {
  text-indent: 20px;
}

img {
  max-width: 50%;
  height: auto;
  display: block;
  margin-left: 20px;
}
.introduccion {
  height: 320px;
}
.seguridad {
  height: 650px;
}
.ventajas {
  height: 730px;
}
/* Termina el CSS del Main */

/* Inicia el CSS del Footer */
footer {
  position: relative;
  background-color: #1b2223;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse; /* Invierte el orden de los elementos en pantallas pequeñas */
}

.social-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
}

.social-links li {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.social-links a {
  text-decoration: none;
  color: #fff;
}

.social-links a:hover {
  color: #0ef6cc;
}

/* Estilo para las imágenes de las redes sociales */
.social-links img {
  max-width: 25px; /* Tamaño máximo de las imágenes */
  height: auto;
}

/* Estilo para el símbolo de copyright */
.footer-content p {
  order: 100; /* Cambia el orden del párrafo */
  margin: 0; /* Elimina el margen del párrafo */
}
/* Termina el CSS del Footer */
