/* styles.css - Estilos externos */
body {
    font-family: Arial, sans-serif;
    background-color: #EEF1F6;
    margin: 0;
    padding: 0;
}
header {
    background-color: #407C87;
    color: white;
    text-align: center;
    padding: 20px;
}
section {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
    font-size: 18px; /* Tamaño de fuente más grande */
    line-height: 1.6; /* Espaciado de línea aumentado */
}
section:hover {
    transform: translateY(-5px);
}
ul, ol {
    padding-left: 20px;
}
img {
    max-width: 50%;
    height: auto;
    max-width: 70%; /* Asegura que la imagen no sea más ancha que el contenedor */
    max-height: 100%; /* Asegura que la imagen no sea más alta que el contenedor */
    display: block; /* Elimina espacio adicional debajo de la imagen */
    margin: 0 auto; /* Centrar horizontalmente dentro del contenedor */
    padding-top: 20px;
}

