body{
    background:url(ima/MSFT-1125-SQL_Server_2022_web_blade_image_RWWaqg_VP1-539x440.avif);
    background-size: cover;
    background-attachment: fixed;
}

*{
    padding: 0;
    margin: 0;
}
h1 {
    text-align: center;
    background-color: rgb(31, 21, 106);
    color: white;
    padding: 0px;
}
nav ul{
    background-color: rgb(8, 6, 6);
    width: 100%;
    list-style-type: none;
    text-align: center;
}
nav li {
    display:inline-flex;
   } 
nav a {
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 150px;
}
nav li:hover{
    background-color: rgb(0, 0, 0);
}
img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.contenido{
    display: flex;
    margin: 60px;  
}
.articulos{
    width: 100%;
    border-right: 3px solid white;
}
.secciones{
    display: flex;
    align-items: center;
    padding: 40px;
}
h2{
    color: rgb(36, 186, 30);
    padding: 40px;
    width: 40;
}
p{
    color: white;
    padding: 50px;
    width: 60;
}
footer{
    text-align: center;
    background-color: rgb(13, 11, 11);
    color: rgb(255, 253, 253);
    padding: 20px;
}