body{
    background:url(/assets/images/vizcarra/img/fondoblanco.avif);
    background-size: cover;
    background-attachment: fixed;
}

*{
    padding: 0;
    margin: 0;
}
h1 {
    text-emphasis-position:center;
    background-color: rgb(31, 21, 106);
    color:azure;
    padding: 10px;
}
nav ul{
    background-color: rgb(8, 6, 6);
    width: 10
    text-align: center;
}
nav li {
    display:inline-flex;
} 
nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
    width: 150px;
}
nav li:hover{
    background-color: rgb(0, 0, 0);
}
.contenido{
    display: flex;
    margin: 60px;  
}

h2{
    color: rgb(10, 10, 121);
    padding: 20px;
    width: 20;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: black;
    padding: 10px;
    width: 10;
}
P1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: black;
    padding: 50px;
    width: 40;
}
footer{
    text-align: center;
    background-color: rgb(4, 1, 87);
    color: rgb(255, 255, 255);
    padding: 20px;
}
h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: rgb(255, 0, 0);
    padding: 20px;
    width: 20;
}